.App {
  text-align: center;
  margin-top: 1rem;
}

body {
  font-family: sans-serif !important;
  font-size: 1.5rem;
  background-image: url("/background.jpeg") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#principal {
  color: white;
  font-size: 20px;
}