.App {
  text-align: center;
}

body {
  font-family: sans-serif !important;
  font-size: 1.5rem;
  background-image: url("/background.jpeg") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#principal {
  color: white;
  font-size: 20px;
}

#loginContainer,
#main-dropdown {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: gray;
  font-size: 1.5rem;
}

.dropdown-menu {
  min-width: 6rem !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  font-size: 12px !important;
}

#dropdown-basic{
  color: gray;
}
