.price-container {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    gap: 0.3em;
    flex-flow: row wrap;
    min-width: 10em;
    max-width: 18vw;
    margin: auto;
    align-items: baseline;
    font-size: 20px;
    color: white;
    border-radius: 0.2em;
    transition: background-color 1s ease;
  }